.unity-text-element.unity-button {
    font-size: 35px;
    color: rgb(255, 255, 255);
    -unity-font-definition: resource('Jaro-Regular SDF');
    background-image: url('project://database/Assets/Art/2D%20Art/HUD/Button1.png?fileID=2800000&guid=fdac6e1e6a80da2408ec16d1731d9bf5&type=3#Button1');
}
