.title {
    height: 40%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 120px;
    -unity-text-align: middle-center;
}

.button {
    flex-shrink: 1;
    flex-basis: 100%;
}
